<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="validator.JuryMemberValidator" id="juryMemberValidator"/>
    <bean class="validator.MarkValidator" id="markValidator"/>
    <bean class="validator.ParticipantValidator" id="participantValidator"/>

    <bean class="repository.hibernate.JuryMemberHbRepository" id="juryMemberHbRepository">
        <constructor-arg ref="juryMemberValidator"/>
    </bean>

    <bean class="repository.hibernate.MarkHbRepository" id="markHbRepository">
        <constructor-arg ref="markValidator"/>
    </bean>

    <bean class="repository.hibernate.ParticipantHbRepository" id="participantHbRepository">
        <constructor-arg ref="participantValidator"/>
    </bean>

    <bean class="service.JuryMemberService" id="juryMemberService">
        <constructor-arg ref="juryMemberHbRepository"/>
    </bean>

    <bean class="service.MarkService" id="markService">
        <constructor-arg ref="markHbRepository"/>
    </bean>

    <bean class="service.ParticipantService" id="participantService">
        <constructor-arg ref="participantHbRepository"/>
    </bean>

    <bean class="service.MasterService" id="masterService">
        <constructor-arg ref="juryMemberService"/>
        <constructor-arg ref="markService"/>
        <constructor-arg ref="participantService"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="MasterService"/>
        <property name="serviceInterface" value="services.Service"/>
        <property name="service" ref="masterService"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>