<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="connectionString" connectionString="Server=LAPTOP-GCP4QLIH\SQLEXPRESS;Database=Biblioteca;Integrated security=true;"/>
    </connectionStrings>
    <appSettings>
        <add key="TableParent" value="Editura"/>
        <add key="TableChild" value="Carte"/>
        <add key="ParentColumns" value="eid,nume,oras,nrPublicatii" />
        <add key="ChildColumns" value="cid,titlu,an,eid" />
        <add key="SelectParent" value="SELECT * FROM Editura;"/>
        <add key="SelectChild" value="SELECT cid, titlu, an, eid FROM Carte WHERE eid=@eid;"/>
        <add key="UpdateChild" value="UPDATE Carte SET titlu=@titlu, an=@an, eid=@eid WHERE cid=@cid;"/>
        <add key="DeleteChild" value="DELETE FROM Carte WHERE cid=@cid;" />
        <add key="InsertChild" value="INSERT INTO Carte(titlu, an, eid) VALUES (@titlu,@an,@eid);" />
        
        <!-- <add key="TableParent" value="Adresa" /> -->
        <!-- <add key="TableChild" value="Angajat" /> -->
        <!-- <add key="ParentColumns" value="aid,nume,numar,oras,judet,bloc,apartament"/> -->
        <!-- <add key="ChildColumns" value="id,aid,nume,prenume,salariu" /> -->
        <!-- <add key="SelectParent" value="SELECT * FROM Adresa;" /> -->
        <!-- <add key="SelectChild" value="SELECT id,aid,nume,prenume,salariu FROM Angajat WHERE aid=@aid;" /> -->
        <!-- <add key="UpdateChild" value="UPDATE Angajat SET aid=@aid, nume=@nume, prenume=@prenume, salariu=@salariu WHERE id=@id;"/> -->
        <!-- <add key="DeleteChild" value="DELETE FROM Angajat WHERE id=@id;"/> -->
        <!-- <add key="InsertChild" value="INSERT INTO Angajat(aid,nume,prenume,salariu) VALUES (@aid,@nume,@prenume,@salariu);"/> -->
    </appSettings>
</configuration>
