:root{
    --color: blue;
    --pWidth: 25px;
}

li{
    border-width: var(--pWidth) var(--pWidth) 0;
    border-color: var(--color);
    border-style: solid;
    margin: 20px;
}

ul li p{
    height: var(--pWidth);
    margin: 0;
    background-color: var(--color);
    text-align: center;
    padding-bottom: 2px;
}

ul{
    border: 1px solid black;
    display: inline-block;
}

li{
    display: inline-block;
}