label{
   margin: 20px;
   display: inline-block;
   width: 10%;
}

input{
    letter-spacing: 20px;
    background-image: url("square.gif");
    background-size: 30px;
    font-family: monospace;
    font-size: 20px;
    height: 18px;
    padding: 0;
}

.input13{
    width: 390px;
}

.input9{
    width: 270px;
}

.input1{
    width: 30px;
}
