<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="validator.GameValidator" name="gameValidator"/>
    <bean class="validator.GuessValidator" name="guessValidator"/>
    <bean class="validator.PlaneValidator" name="planeValidator"/>
    <bean class="validator.PlayerValidator" name="playerValidator"/>

    <bean class="repository.hibernate.GameHbRepository" name="gameHbRepository">
        <constructor-arg ref="gameValidator"/>
    </bean>
    <bean class="repository.hibernate.GuessHbRepository" name="guessHbRepository">
        <constructor-arg ref="guessValidator"/>
    </bean>
    <bean class="repository.hibernate.PlaneHbRepository" name="planeHbRepository">
        <constructor-arg ref="planeValidator"/>
    </bean>
    <bean class="repository.hibernate.PlayerHbRepository" name="playerHbRepository">
        <constructor-arg ref="playerValidator"/>
    </bean>
</beans>